.header {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../img/Hero.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  clip-path: ellipse(74% 82% at 50% 13%);

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
