//defines all of our variables that we can use throughout our website
$color-primary: #00364c;
$color-secondary: #2099bf;
$color-tertiary: #00ada4;

$color-white: #fff;
$color-grey: #bababa;
$color-dark: #192e40;
