//Syling for all the different typography in the pages

body {
 font-family: 'Comfortaa', cursive;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
  }
}

.book-title {
  font-size: 2rem;
}
.book-text {
  margin-top: 1rem;
  font-size: 1.4rem;
}
